### This Notebook is concerned with the final capstone project of IBM professional Data Science Course by Coursera

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
print(' Hello Capstone Project Course!')

 Hello Capstone Project Course!

In [3]:
import pandas as pd
url = pd.read_html( 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' )

In [4]:
## pandas read all tables in html format and store it as a serie of tabels 
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

In [5]:
## the needed table is the first 
df= dfs[0]

In [6]:
## we drop rows where the value of Borough is not assigned 
df = df.drop(df[df["Borough"] == 'Not assigned'].index)

In [7]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [8]:
## if a postcode have more than one neighbourhoud we concatiante those neighbourhouds to reduce the number of rows 

df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df1

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                      Malvern,Rouge
M1C       Scarborough               Port Union,Highland Creek,Rouge Hill
M1E       Scarborough                    Morningside,West Hill,Guildwood
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Martin Grove Gardens,St. Phillips,Richview Gar...
M9V         Etobicoke  Albion Gardens,South Steeles,Mount Olive,Silve...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [9]:
## if a nighbourhoud have a not assigned value we attribute to it the value of Borough
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']

In [10]:
df1.shape

(103, 2)

In [11]:
df2= pd.read_csv('Geospatial_Coordinates.csv')

In [26]:
df2.shape

(103, 3)

In [28]:
postcodes_with_coordinates_df = df1.join(df2.set_index('Postal Code'), on='Postcode')
postcodes_with_coordinates_df

,Borough,Neighbourhood,Latitude,Longitude
Postcode,,,,
M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
M1C,Scarborough,"Port Union,Highland Creek,Rouge Hill",43.784535,-79.160497
M1E,Scarborough,"Morningside,West Hill,Guildwood",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...
M9N,York,Weston,43.706876,-79.518188
M9P,Etobicoke,Westmount,43.696319,-79.532242
M9R,Etobicoke,"Martin Grove Gardens,St. Phillips,Richview Gar...",43.688905,-79.554724
M9V,Etobicoke,"Albion Gardens,South Steeles,Mount Olive,Silve...",43.739416,-79.588437
M9W,Etobicoke,Northwest,43.706748,-79.594054

In [23]:
result

,Borough,Latitude,Longitude,Neighbourhood,Postal Code
0,Scarborough,NaN,NaN,"Malvern,Rouge",NaN
1,Scarborough,NaN,NaN,"Port Union,Highland Creek,Rouge Hill",NaN
2,Scarborough,NaN,NaN,"Morningside,West Hill,Guildwood",NaN
3,Scarborough,NaN,NaN,Woburn,NaN
4,Scarborough,NaN,NaN,Cedarbrae,NaN
...,...,...,...,...,...
201,NaN,43.706876,-79.518188,NaN,M9N
202,NaN,43.696319,-79.532242,NaN,M9P
203,NaN,43.688905,-79.554724,NaN,M9R
204,NaN,43.739416,-79.588437,NaN,M9V
205,NaN,43.706748,-79.594054,NaN,M9W